.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
*.sqlite
*.sqlite3
identifier.sqlite

backend/media/*
!backend/media/users/
backend/media/users/*
!backend/media/users/avatars/
backend/media/users/avatars/*
!backend/media/users/avatars/default.png

static/
backend/static/

.idea/
.vscode/
*.swp
# pytest
.pytest_cache/
test_db.sqlite3
.coverage
htmlcov/

.postman/
postman/
postman_collection/diploma/
uv.lock